  GNU nano 4.8                                                                 requirements.txt                                                                            
asgiref==3.7.2
certifi==2023.11.17
cffi==1.16.0
charset-normalizer==3.3.2
cryptography==41.0.7
Django==5.0
django-ckeditor==6.7.0
django-crispy-forms==2.1
django-js-asset==2.1.0
django-rest-framework==0.1.0
django-taggit==5.0.1
djangorestframework==3.14.0
et-xmlfile==1.1.0
idna==3.6
openpyxl==3.1.2
paypalrestsdk==1.13.3
Pillow==10.1.0
pycparser==2.21
pyOpenSSL==23.3.0
python-dotenv==1.0.0
pytz==2023.3.post1
requests==2.31.0
six==1.16.0
sqlparse==0.4.4
typing_extensions==4.9.0
urllib3==2.1.0
