{% extends 'back-end/template.html' %}

{% block content %}
<style>
   
      
    .selectBox {
      position: relative;
    }
    
    .selectBox select {
      width: 100%;
      font-weight: bold;
    }
    
    .overSelect {
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
    }
    
    #checkboxes {
      width:100%;
      display: none;
      border: 1px #dadada solid;
    }
    
    #checkboxes label {
      display: block;
    }
    
    #checkboxes label:hover {
      background-color: #1e90ff;
    }
</style>
        <form class="theme-form theme-form-2 mega-form" method="POST" enctype="multipart/form-data" action="{% url 'addproduct' %}">

            <div class="page-body">

                <!-- New Product Add Start -->
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-12">
                            <div class="row">
                                <div class="col-sm-8 m-auto">




                                    <div class="card">
                                        <div class="card-body">
                                            <div class="card-header-2 d-flex">
                                                <h5>Size Quantity Price</h5>
                                                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#sqpadd" >Add New SQP</button>

                                            </div>

                                
                                                      {% for i in request.session.sqp_list %}
                                                <div class="multiselect mb-4 multiselect row align-items-center">
                                                    <label class="form-label-title col-sm-2 mb-0">Article Id:</label>
                                                    <div class="col-sm-9">
                                                        <input class="form-control" type="text" disabled value="{{i}}">
                                                    </div>
                                                    <label class="form-label-title col-sm-2 mb-0">Size:</label>
                                                    <div class="col-sm-2">
                                                        <input class="form-control" type="text" disabled value="{{i.size}}">
                                                    </div>
                                                    <label class="form-label-title col-sm-2 mb-0">Quantity:</label>
                                                    <div class="col-sm-2">
                                                        <input class="form-control" type="text" disabled value="{{i.quantity}}">
                                                    </div>
                                                    <div class="col-sm-2">
                                                        <button class="btn btn-danger" onclick="window.location.href='{% url 'sqp_crud' %}?slug=Delete&size={{i.size}}'">Delete</button>
                                                    </div>
                        
                                                </div>
                                                      {% endfor %}
                                        </div>
                                    </div>


                                    <div class="card">
                                        <div class="card-body">
                                            <div class="card-header-2">
                                                <h5>Product Information</h5>
                                            </div>

                                               {% csrf_token %}
                                            <div class="mb-4 row align-items-center">
                           


                                                    <label class="form-label-title col-sm-3 mb-0">Category Name</label>
                                                    <div class="col-sm-8 d-flex">
                                                        <select name="category_id"  class="form-control" id="category-dropdown">
                                                            <option value="" >--- Select -- </option>
                                                            {% for category in categories %}
                                                                    {% if category.id == selected_category.id %}

                                                                    <option value="{{category.id}}" selected>{{category.name}}</option>
                                                                    {% else %}
                                                                    <option value="{{category.id}}" >{{category.name}}</option>

                                                                    {% endif %}
                                                            {% endfor %}
                                                        </select>
                                                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#categoryadd" >Add New Category</button>

                                                    </div>
                                                    {% if selected_category %}
                                                    
                                                        <label class="form-label-title col-sm-3 mb-0">Subcategory Name</label>
                                                        <div class="col-sm-8 d-flex">
                                                            <select name="subcategory_id"  class="form-control" id="subcategory-dropdown">
                                                                
                                                                <option  value="">--- Select -- </option>
                                                                {% for subcategory in subcategories %}
                                                                        {% if subcategory.id == selected_sub_category.id %}
                                                                        
                                                                        <option value="{{subcategory.id}}" selected>{{subcategory.name}}</option>
                                                                        {% else %}
                                                                        <option value="{{subcategory.id}}">{{subcategory.name}} </option>

                                                                        {% endif %}
                                                                {% endfor %}
                                                            </select>
                                                            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#subcategoryadd" >Add New SubCategory</button>

                                                        </div>
                                                    {% endif %}

                                                    

                                        
                                            </div>
                                            
           
                                        </div>
                                    </div>

                                    

                                    <div class="card">
                                        <div class="card-body">
                                            <div class="card-header-2">
                                                <h5>Product Details</h5>
                                            </div>

                                                <div class="row">
                                                    <div class="col-12">

                                                        <div class="mb-4 row align-items-center">
                                                            <label class="form-label-title col-sm-3 mb-0">Product
                                                                Generic Id</label>
                                                                <div class="col-sm-9">
                                                                    <input class="form-control" type="text" name="id"
                                                                        placeholder="Product Generic Id">
                                                                </div>
                                                        </div>



                                                        <div class="mb-4 row align-items-center">
                                                            <label class="form-label-title col-sm-3 mb-0">Product
                                                                Name</label>
                                                                <div class="col-sm-9">
                                                                    <input class="form-control" type="text" name="product_name"
                                                                        placeholder="Product Name">
                                                                </div>
                                                        </div>
                                                        <div class="mb-4 row align-items-center">
                                                            <label class="form-label-title col-sm-3 mb-0">Gender :</label>
                                                            <div class="col-sm-9">
                                                                <select name="gender" class="form-control"  >
        
                                                                    <option disabled>--select--</option>
        
                                                                        
                                                                    <option value="Men" >Men</option>
                                                                    <option value="Women" >Women</option>
        
                                                                        
                                                                            
                                                                     
                                                                </select>
                                                            </div>
        
                                                        </div>
                                                        <div class="mb-4 row align-items-center">
                                                            <label class="form-label-title col-sm-3 mb-0">Season
                                                            </label>
                                                                <div class="col-sm-9">
                                                                    <input class="form-control" type="text" name="season"
                                                                        placeholder="Season">
                                                                </div>
                                                        </div>

                                                        <div class="mb-4 row align-items-center">
                                                            <label class="form-label-title col-sm-3 mb-0">Season Code
                                                            </label>
                                                                <div class="col-sm-9">
                                                                    <input class="form-control" type="text" name="season_code"
                                                                        placeholder="Season Code">
                                                                </div>
                                                        </div>


                                                        <div class="mb-4 row align-items-center">
                                                            <label class="form-label-title col-sm-3 mb-0">
                                                                Occasion</label>
                                                                <div class="col-sm-9">
                                                                    <input type="text" name="occasion" placeholder="Occasion" class="form-control">
                                                                </div>
                                                        </div>
                                                        <div class="mb-4 row align-items-center">
                                                            <label class="form-label-title col-sm-3 mb-0">
                                                                Sleeve</label>
                                                                <div class="col-sm-9">
                                                                    <input type="text" name="sleeve" placeholder="Sleeve" class="form-control">
                                                                </div>
                                                        </div>

                                                        <div class="mb-4 row align-items-center">
                                                            <label class="form-label-title col-sm-3 mb-0">
                                                                Design Surface</label>
                                                                <div class="col-sm-9">
                                                                    <input type="text" name="design_surface" placeholder="Design Surface" class="form-control">
                                                                </div>
                                                        </div>

                                                        <div class="mb-4 row align-items-center">
                                                            <label class="form-label-title col-sm-3 mb-0">
                                                                Fit</label>
                                                                <div class="col-sm-9">
                                                                    <input type="text" name="fit" placeholder="Fit" class="form-control">
                                                                </div>
                                                        </div>

                                                        <div class="mb-4 row align-items-center">
                                                            <label class="form-label-title col-sm-3 mb-0">
                                                                Neck Type</label>
                                                                <div class="col-sm-9">
                                                                    <input type="text" name="neck_type" placeholder="Neck Type" class="form-control">
                                                                </div>
                                                        </div>

                                                        <div class="mb-4 row align-items-center">
                                                            <label class="form-label-title col-sm-3 mb-0">Fabric Detail:
                                                            </label>
                                                                <div class="col-sm-9">
                                                                    <textarea class="form-control" id="fabric_detail" name="fabric_detail" rows="3"></textarea>
                                                                </div>
                                                        </div>

                                                        <div class="mb-4 row align-items-center">
                                                            <label class="form-label-title col-sm-3 mb-0">
                                                                Wash-Care</label>
                                                                <div class="col-sm-9">
                                                                    <textarea class="form-control" id="Washcare" name="Washcare" rows="3"></textarea>

                                                                </div>
                                                        </div>
                                                    </div>
                                                </div>
                                        </div>
                                    </div>

                                    <div class="card">
                                        <div class="card-body">
                                            <div class="card-header-2">
                                                <h5>Information</h5>
                                            </div>

                                            

                            
                                                <div class="mb-4 row align-items-center">
                                                    <label class="form-label-title col-sm-3 mb-0">Colour Family :</label>
                                                    <div class="col-sm-9">
                                                        <select name="color_family" class="form-control"  >

                                                            <option  value="">--select--</option>

                                                                {% for color in color_family %}
                                                                
                                                                <option value="{{color.name}}" >{{color.name}}</option>

                                                                
                                                                {% endfor %}
                                                                    
                                                             
                                                        </select>
                                                    </div>

                                                </div>
                                           
                                                <div class="mb-4 row align-items-center">
                                                    <label class="form-label-title col-sm-3 mb-0">Color:</label>
                                                    <div class="col-sm-3">
                                                        <input class="form-control" type="color"  name="color" placeholder="Color" >
                                                    </div>
                                                </div>

                                                <div class="mb-4 row align-items-center">
                                                    <label class="form-label-title col-sm-3 mb-0">MRP (₹):</label>
                                                    <div class="col-sm-9">
                                                        <input class="form-control" type="number" step="0.01" id="price" name="price" placeholder="MRP" >
                                                    </div>
                                                </div>

                                                <div class="mb-4 row align-items-center">
                                                    <label class="form-label-title col-sm-3 mb-0">Discount :</label>
                                                    <div class="col-sm-9">
                                                        <select name="discount" id="discount" onchange="updateDiscount()" class="form-control" >
                                                           
                                                                    <option value="False" selected>No</option>
                                                                    <option value="True">Yes</option>
                                                             
                                                        </select>
                                                </div>

                                                <div class="mb-4 row align-items-center">
                                                    <label class="form-label-title col-sm-3 mb-0">Discount Percentage (%) :</label>
                                                    <div class="col-sm-9">
                                                        <input class="form-control" id="discount_percentage"type="number"  step="0.01" value=0 oninput="updateDiscountedPrice()" disabled   placeholder="Discount Percentage ">
                                                        <input class="form-control" id="update_discounted_prcentage"type="hidden"  name="discount_percentage">
                                                    </div>
                                                </div>
                                                
                                                <div class="mb-4 row align-items-center">
                                                    <label class="form-label-title col-sm-3 mb-0">Discounted Price (₹) :</label>
                                                    <div class="col-sm-9">
                                                        <input class="form-control discounted_price" type="number" step="0.01" value=0 disabled placeholder="Discounted Price ">
                                                        <input class="form-control " type="hidden" name="discounted_price" id="update_discounted_price" value=0>
                                                    </div>
                                                </div>

                                        </div>
                                    </div>
                           
                                </div>
                                    

                                    <div class="card">
                                        <div class="card-body">
                                            <div class="card-header-2">
                                                <h5>Search engine listing</h5>
                                            </div>
                                                <div class="mb-4 row align-items-center">
                                                    <label class="form-label-title col-sm-3 mb-0">Meta Tags</label>
                                                    <div class="col-sm-9">
                                                        <input class="form-control" type="search" name="meta_tags" 
                                                            >
                                                    </div>
                                                </div>

                                                <div class="mb-4 row">
                                                    <label class="form-label-title col-sm-3 mb-0">Meta
                                                        description</label>
                                                    <div class="col-sm-9">
                                                        <textarea class="form-control" name="meta_description" rows="3"></textarea>
                                                    </div>
                                                </div>

                                                
                                        </div>
                                        
                                        <button class="btn btn-theme">submit</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- New Product Add End -->

               
                <!-- footer En -->
            </div>
        </form>
                 <div class="modal fade" id="sqpadd" tabindex="-1" role="dialog" aria-labelledby="sqpaddLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Add new SQP</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <form id="sqpForm" class="theme-form theme-form-2 mega-form" method="POST" action="{% url 'sqp_crud' %}?slug=Add" enctype='multipart/form-data'>
                                                {% csrf_token %}
         
                                                <div class="mb-4 row align-items-center">
                                                    <label class="form-label-title col-sm-3 mb-0">Article Id :</label>
                                                    <div class="col-sm-9">
                                                        <input class="form-control" type="text"  name="id" placeholder="Article Id">
                                                    </div>
                                                </div>

                                                <div class="mb-4 row align-items-center">
                                                    <label class="form-label-title col-sm-3 mb-0">EAN Code:</label>
                                                    <div class="col-sm-9">
                                                        <input class="form-control" type="text"  name="ean_code" placeholder="EAN Code">
                                                    </div>
                                                </div>

                                                <div class="mb-4 row align-items-center">
                                                    <label class="form-label-title col-sm-3 mb-0">Size :</label>
                                                    <div class="col-sm-9">
                                                        <input class="form-control" type="text"  name="size" placeholder="Size ">
                                                    </div>
                                                </div>

                                                <div class="mb-4 row align-items-center">
                                                    <label class="form-label-title col-sm-3 mb-0">CentiMeter :</label>
                                                    <div class="col-sm-9">
                                                        <input class="form-control" type="text"  name="centimeter" placeholder="Meter ">
                                                    </div>
                                                </div>

                                                <div class="mb-4 row align-items-center">
                                                    <label class="form-label-title col-sm-3 mb-0">Inches :</label>
                                                    <div class="col-sm-9">
                                                        <input class="form-control" type="text"  name="inches" placeholder="Inches ">
                                                    </div>
                                                </div>

                                                 <div class="mb-4 row align-items-center">
                                                    <label class="form-label-title col-sm-3 mb-0">Length :</label>
                                                    <div class="col-sm-9">
                                                        <input class="form-control" type="text"  name="length" placeholder="Length ">
                                                    </div>
                                                </div>

                                                 <div class="mb-4 row align-items-center">
                                                    <label class="form-label-title col-sm-3 mb-0">Width :</label>
                                                    <div class="col-sm-9">
                                                        <input class="form-control" type="text"  name="width" placeholder="Width ">
                                                    </div>
                                                </div>

                                                 <div class="mb-4 row align-items-center">
                                                    <label class="form-label-title col-sm-3 mb-0">Height :</label>
                                                    <div class="col-sm-9">
                                                        <input class="form-control" type="text"  name="height" placeholder="Height ">
                                                    </div>
                                                </div>
                                                 <div class="mb-4 row align-items-center">
                                                    <label class="form-label-title col-sm-3 mb-0">weight :</label>
                                                    <div class="col-sm-9">
                                                        <input class="form-control" type="text"  name="weight" placeholder="weight ">
                                                    </div>
                                                </div>

                                                <div class="mb-4 row align-items-center">
                                                    <label class="form-label-title col-sm-3 mb-0">Quantity :</label>
                                                    <div class="col-sm-9">
                                                        <input class="form-control" type="number"  name="quantity" placeholder="Quantity " >
                                                    </div>
                                                </div>

                                                <button type="button" id="submitFormBtn" class="btn btn-theme">Submit</button>
                                                

                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        </div>
                        </div>
                    </div>
                </div>
           

                <div class="modal fade" id="categoryadd" tabindex="-1" role="dialog" aria-labelledby="categoryaddLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Add new Category</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                  <form id="categoryForm" class="theme-form theme-form-2 mega-form" method="POST" action="{% url 'category_crud' %}?slug=Add">
                                                {% csrf_token %}
                                          
                                                <div class="mb-4 row align-items-center">
                                                    <label class="form-label-title col-sm-3 mb-0">Category Name</label>
                                                    <div class="col-sm-9">
                                                        <input class="form-control" type="text" id="category_name" name="category_name" placeholder="Category Name">
                                                        <input class="form-control" type="hidden"  name="redirect" value="productadd">
                                                    </div>
                                                </div>

                                              
                                                <button class="btn btn-theme" id="submitCategoryFormBtn">submit</button>
                                                

                                            </form>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="modal fade" id="subcategoryadd" tabindex="-1" role="dialog" aria-labelledby="categoryaddLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Add new Sub Category</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <form id="subcategoryForm" class="theme-form theme-form-2 mega-form" method="POST" action="{% url 'sub_category_crud' %}?slug=Add">
                                    {% csrf_token %}
                                    <div class="mb-4 row align-items-center">
                                        <label class="form-label-title col-sm-3 mb-0"> Category Name</label>
                                        <div class="col-sm-9">
                                           <select name="category_name" id="category_name">
                                           {% for cat in categories %}
                                           
                                            <option value="{{cat.name}}">{{cat.name}}</option>
                                           {% endfor %}
                                           </select>
                                        </div>
                                    </div>
                                    <div class="mb-4 row align-items-center">
                                        <label class="form-label-title col-sm-3 mb-0">Sub Category Name</label>
                                        <div class="col-sm-9">
                                            <input class="form-control" type="text" id="sub_category_name" name="sub_category_name" placeholder="Sub Category Name">
                                            <input class="form-control" type="hidden" name="redirect" value="productadd">
                                        </div>
                                    </div>
                                    <button type="button" id="submitSubCategoryFormBtn" class="btn btn-theme">Submit</button>
                                </form>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>

         


            
  

            {% comment %} <script>
                document.addEventListener('DOMContentLoaded', function() {
                    var categoryDropdown = document.getElementById('category-dropdown');
                    var subcategoryDropdown = document.getElementById('subcategory-dropdown');

                    categoryDropdown.addEventListener('change', function() {
                        updateURL();
                    });

                    subcategoryDropdown.addEventListener('change', function() {
                        updateURL();
                    });

                    function updateURL() {
                        var url = 'https://traxzen.pythonanywhere.com/dashboard/add-product?';

                        if (categoryDropdown && categoryDropdown.value) {
                            url += 'category_id=' + categoryDropdown.value;
                        }
                        if (subcategoryDropdown && subcategoryDropdown.value) {
                            url += '&subcategory_id=' + subcategoryDropdown.value;
                        }

                        location.href = url;
                    }
                });
            </script> {% endcomment %}
<script>
    document.addEventListener('DOMContentLoaded', function() {
        var categoryDropdown = document.getElementById('category-dropdown');
        var subcategoryDropdown = document.getElementById('subcategory-dropdown');

        categoryDropdown.addEventListener('change', function() {
            updateURL();
        });

        subcategoryDropdown.addEventListener('change', function() {
            updateURL();
        });

        function updateURL() {
            var url = 'https://traxzen.pythonanywhere.com/dashboard/add-product?';

            if (categoryDropdown.value != "") {
                url += 'category_id=' + categoryDropdown.value;
            }


            // Validate subcategory input before adding to the URL
            if (subcategoryDropdown && subcategoryDropdown.value != "") {
                url += '&subcategory_id=' + subcategoryDropdown.value;
            }
            
            location.href = url;

           
        }

       
    });
</script>

    





            <script>
                    document.addEventListener("DOMContentLoaded", function () {
                    var submitFormBtn = document.getElementById("submitFormBtn");
                    submitFormBtn.addEventListener("click", function () {
                        var xhr = new XMLHttpRequest();
                        var form = document.getElementById("sqpForm");

                        xhr.open("POST", form.action, true);
                        xhr.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");

                        xhr.onreadystatechange = function () {
                            if (xhr.readyState === 4) {
                                if (xhr.status === 200) {
                                    // Handle success response if needed
                                    console.log("Form submitted successfully");
                                    var responseData = JSON.parse(xhr.responseText);
                                    console.log("sqp.id:", responseData.sqp_id);
                                    // Optionally, close the modal
                                    document.getElementById("sqpadd").classList.remove("show");
                                    document.getElementById("sqpadd").style.display = "none";
                                    document.querySelector(".modal-backdrop").remove();
                                    document.body.classList.remove("modal-open");
                                                            location.reload();

                                } else {
                                    // Handle error response if needed
                                    console.error("Error submitting form:", xhr.status, xhr.statusText);
                                }
                            }
                        };

                        xhr.send(new URLSearchParams(new FormData(form)));
                    });
                 });

                    
            </script>
            <script>
                document.addEventListener("DOMContentLoaded", function () {
                    var submitBrandFormBtn = document.getElementById("submitCategoryFormBtn");
                    submitBrandFormBtn.addEventListener("click", function () {
                        var xhr = new XMLHttpRequest();
                        var brandForm = document.getElementById("categoryForm");

                        xhr.open("POST", brandForm.action, true);
                        xhr.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");

                        xhr.onreadystatechange = function () {
                            if (xhr.readyState === 4) {
                                if (xhr.status === 200) {
                                    // Handle success response if needed
                                    console.log("Brand form submitted successfully");
                                    // Optionally, close the modal
                                    document.getElementById("categoryadd").classList.remove("show");
                                    document.getElementById("categoryadd").style.display = "none";
                                    document.querySelector(".modal-backdrop").remove();
                                    document.body.classList.remove("modal-open");
                                    // Reload the page if needed

                                    location.reload();
                                } else {
                                    // Handle error response if needed
                                    console.error("Error submitting Category form:", xhr.status, xhr.statusText);
                                }
                            }
                        };

                        xhr.send(new URLSearchParams(new FormData(brandForm)));
                    });
                });
            </script>

            
            <script>
                document.addEventListener("DOMContentLoaded", function () {
                    var submitSubCategoryFormBtn = document.getElementById("submitSubCategoryFormBtn");
                    submitSubCategoryFormBtn.addEventListener("click", function () {
                        var xhr = new XMLHttpRequest();
                        var subCategoryForm = document.getElementById("subcategoryForm");

                        xhr.open("POST", subCategoryForm.action, true);
                        xhr.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");

                        xhr.onreadystatechange = function () {
                            if (xhr.readyState === 4) {
                                if (xhr.status === 200) {
                                    // Handle success response if needed
                                    console.log("Sub Category form submitted successfully");
                                    // Optionally, close the modal
                                    document.getElementById("subcategoryadd").classList.remove("show");
                                    document.getElementById("subcategoryadd").style.display = "none";
                                    document.querySelector(".modal-backdrop").remove();
                                    document.body.classList.remove("modal-open");
                                    // Reload the page if needed
                                    location.reload();
                                } else {
                                    // Handle error response if needed
                                    console.error("Error submitting Sub Category form:", xhr.status, xhr.statusText);
                                }
                            }
                        };

                        xhr.send(new URLSearchParams(new FormData(subCategoryForm)));
                    });
                });
            </script>


            {% endblock content %}
