{% extends "back-end/template.html" %}
{% block content %}
<style>
   
      
      .selectBox {
        position: relative;
      }
      
      .selectBox select {
        width: 100%;
        font-weight: bold;
      }
      
      .overSelect {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
      }
      
      #checkboxes {
        width:100%;
        display: none;
        border: 1px #dadada solid;
      }
      
      #checkboxes label {
        display: block;
      }
      
      #checkboxes label:hover {
        background-color: #1e90ff;
      }
</style>
            <!-- Create event Table start -->
            <div class="page-body">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-12">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="card">
                                        <div class="card-body">
                                            <div class="title-header option-title">
                                                <h5>Create event</h5>
                                            </div>
                                            {% comment %} <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                                                <li class="nav-item" role="presentation">
                                                    <button class="nav-link active" id="pills-home-tab"
                                                        data-bs-toggle="pill" data-bs-target="#pills-home"
                                                        type="button">General</button>
                                                </li>
                                                <li class="nav-item" role="presentation">
                                                    <button class="nav-link" id="pills-profile-tab"
                                                        data-bs-toggle="pill" data-bs-target="#pills-profile"
                                                        type="button">Restriction</button>
                                                </li>
                                                <li class="nav-item" role="presentation">
                                                    <button class="nav-link" id="pills-usage-tab" data-bs-toggle="pill"
                                                        data-bs-target="#pills-usage" type="button">Usage</button>
                                                </li>
                                            </ul> {% endcomment %}

                                            <div class="tab-content" id="pills-tabContent">
                                                <div class="tab-pane fade show active" id="pills-home" role="tabpanel">

                                                    {% if slug == 'Add' %}
                                                    <form class="theme-form theme-form-2 mega-form" action="{% url 'event_list' %}?slug=Add" method="POST">
                                                        {% csrf_token %}
                                                        
                                                        <div class="card-header-1">
                                                            <h5>General</h5>
                                                        </div>

                                                        <div class="row">
                                                            

                                                            <div class="mb-4 row align-items-center">
                                                                <label
                                                                    class="col-lg-2 col-md-3 col-form-label form-label-title">event
                                                                    Name</label>
                                                                <div class="col-md-9 col-lg-10">
                                                                    <input class="form-control" name="name" type="text">
                                                                </div>
                                                            </div>


                                                            <div class="row mb-5 align-items-center">
                                                                <label
                                                                    class="form-label-title col-lg-2 col-md-3 mb-0">sub sub Category</label>
                                                                <div class="col-md-9">
                                                                    <div class="form-check user-checkbox ps-0">

                                                                        <select name="susubcat" class="form-control" multiple>
                                                                                {% for cat in subcategories %}
                                                                                
                                                                                <option value="{{cat.id}}">{{cat.name}} ({{cat.subcategory.name}}) ({{cat.subcategory.category.name}})</option>
                                                                                {% endfor %}
                                                                     
                                                                        </select>

                                                                    </div>
                                                                </div>
                                                            </div>


                                                            <div class="mb-4 row align-items-center">
                                                                <label
                                                                    class="col-lg-2 col-md-3 col-form-label form-label-title">Discount
                                                                    Percentage</label>
                                                                <div class="col-md-9 col-lg-10">
                                                                    <input class="form-control" name="percentage" type="number">
                                                                </div>
                                                            </div>        

                                                            <div class="mb-4 row align-items-center">
                                                                <label
                                                                    class="col-lg-2 col-md-3 col-form-label form-label-title">End
                                                                    Date</label>
                                                                <div class="col-md-9 col-lg-10">
                                                                    <input class="form-control" name="end_date" type="date">
                                                                </div>
                                                            </div>                                                           

                            

                                                            <div class="row align-items-center">
                                                                <label
                                                                    class="form-label-title col-lg-2 col-md-3 mb-0">Status</label>
                                                                <div class="col-md-9">
                                                                    <div class="form-check user-checkbox ps-0">

                                                                        <select name="active" class="form-control">
                                                                                    <option value="False" selected>No</option>
                                                                                    <option value="True">Yes</option>
                                                                     
                                                                        </select>


                                                                        <label class="form-label-title col-md-2 mb-0">
                                                                            Enable the event</label>
                                                                    </div>
                                                                </div>
                                                                <button class="btn btn-theme">submit</button>
                                                            </div>
                                                        </div>
                                                    </form>
                                                    
                                                    {% elif slug == 'update' %}
                                                    <form class="theme-form theme-form-2 mega-form" action="{% url 'event_list'  %}?id={{event.id}}&slug=update" method="POST">
                                                        {% csrf_token %}
                                                        
                                                        <div class="card-header-1">
                                                            <h5>General</h5>
                                                        </div>

                                                        <div class="row">
                                                            

                                                            <div class="mb-4 row align-items-center">
                                                                <label
                                                                    class="col-lg-2 col-md-3 col-form-label form-label-title">event
                                                                    Name</label>
                                                                <div class="col-md-9 col-lg-10">
                                                                    <input class="form-control" value="{{event.name}}" name="name" type="text">
                                                                </div>
                                                            </div>

                                                            <div class="mb-4 row align-items-center">
                                                                <label
                                                                    class="col-lg-2 col-md-3 col-form-label form-label-title">Discount
                                                                    Percentage</label>
                                                                <div class="col-md-9 col-lg-10">
                                                                    <input class="form-control" value="{{event.percentage}}" name="percentage" type="number">
                                                                </div>
                                                            </div>                                                           

                                                            <div class="row mb-5 align-items-center">
                                                                <label
                                                                    class="form-label-title col-lg-2 col-md-3 mb-0">sub sub Category</label>
                                                                <div class="col-md-9">
                                                                    <div class="form-check user-checkbox ps-0">

                                                                        <select name="susubcat" class="form-control" multiple>
                                                                                {% for cat in subcategories %}
                                                                                
                                                                                <option value="{{cat.id}}" >{{cat.name}} ({{cat.subcategory.name}}) ({{cat.subcategory.category.name}})</option>
                                                                                {% endfor %}
                                                                     
                                                                        </select>

                                                                    </div>
                                                                </div>
                                                            </div>

                                                            <div class="mb-4 row align-items-center">
                                                                <label
                                                                    class="col-lg-2 col-md-3 col-form-label form-label-title">end 
                                                                    date</label>
                                                                <div class="col-md-9 col-lg-10">
                                                                    <input class="form-control" value="{{ event.end_date|date:'Y-m-d' }}" name="end_date" type="date">
                                                                </div>
                                                            </div>  


                                                            <div class="row align-items-center">
                                                                <label
                                                                    class="form-label-title col-lg-2 col-md-3 mb-0">Status</label>
                                                                <div class="col-md-9">
                                                                    <div class="form-check user-checkbox ps-0">

                                                                        <select name="active" class="form-control">
                                                                                    {% if event.active == True %}
                                                                                    
                                                                                    <option value="True"selected>Yes</option>
                                                                                    <option value="False" >No</option>
                                                                                    {% else %}
                                                                                    
                                                                                    <option value="True">yes</option>
                                                                                    <option value="False" selected>No</option>
                                                                                    {% endif %}
                                                                     
                                                                        </select>


                                                                        <label class="form-label-title col-md-2 mb-0">
                                                                            Enable the event</label>
                                                                    </div>
                                                                </div>
                                                                <button class="btn btn-theme">submit</button>
                                                            </div>
                                                        </div>
                                                    </form>
                                                    {% endif %}


                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <script type="text/javascript">  
                $(document).ready(function() {  
                    $('#multiple-checkboxes').multiselect();  
                });  
            </script>
            {% endblock content %}
