{% extends "back-end/template.html" %}
{% block content %}

            <!-- Container-fluid starts-->
            <div class="page-body">
                <!-- All User Table Start -->
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="card card-table">
                                <div class="card-body">
                                    <div class="title-header option-title">
                                        <h5>All Articles</h5>
                                        <form class="d-inline-flex">
                                            <a href="{% url 'all_articles' %}?slug=Add" class="align-items-center btn btn-theme d-flex">
                                                <i data-feather="plus"></i>Add New
                                            </a>
                                        </form>
                                    </div>

                                    <div class="table-responsive table-product">
                                        <table class="table all-package theme-table" id="table_id">
                                            <thead>
                                                <tr>
                                                    <th>Name</th>
                                                    <th>Created</th>
                                                    <th>Writer</th>
                                                    <th>Meta Tags</th>
                                                    <th>Option</th>
                                                </tr>
                                            </thead>

                                            <tbody>
                                                {% for article in articles %}
                                                <tr>
                                                    

                                                    <td>
                                                        <div class="user-name">
                                                            <span>{{article.name}} </span>
                                                        </div>
                                                    </td>

                                                    <td>{{article.created_at}}</td>

                                                    <td>{{article.writer}}</td>
                                                    <td>{{article.meta_tags}}</td>

                                                    <td>
                                                        <ul>
                                                            

                                                            <li>
                                                                <a href="{% url 'all_articles' %}?slug=update&id={{article.id}}">
                                                                    <i class="ri-pencil-line"></i>
                                                                </a>
                                                            </li>

                                                            <li>
                                                                <a href="{% url 'all_articles' %}?slug=delete&id={{article.id}}" >
                                                                    <i class="ri-delete-bin-line"></i>
                                                                </a>
                                                            </li>
                                                        </ul>
                                                    </td>
                                                </tr>
                                                {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- All User Table Ends-->

                
            </div>
            {% endblock content %}
