{% extends "back-end/template.html" %}

{% block content %}

            <!-- Container-fluid starts-->
            <div class="page-body">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="card">
                                <div class="card-body">
                                    <div class="card-header-2">
                                        <h5>Upload Image</h5>
                                    </div>

                                    
                                    <form class="theme-form theme-form-2 mega-form" method="POST" enctype="multipart/form-data" action="{% url 'banner_images' %}">
                                        {% csrf_token %}
                                        <div class="row align-items-center">
                                            <label class="col-sm-3 col-form-label form-label-title">Best Seller Banner 1600x978</label>
                                            <div class="col-sm-9">
                                                <input class="form-control form-choose" type="file" name="best_seller_banner_1600x978"
                                                    id="formFileMultiple1" multiple>
                                            </div>
                                        </div>
                                        <div class="row align-items-center">
                                            <label class="col-sm-3 col-form-label form-label-title">Advertisment 375x586</label>
                                            <div class="col-sm-9">
                                                <input class="form-control form-choose" type="file" name="advertisment_375x586"
                                                    id="formFileMultiple1" multiple>
                                                    <button class="btn btn-theme">submit</button>
                                                </div>
                                        </div>
                                        
                                    </form>
                                    </div>
                            </div>
                            <div class="card">
                                <div class="card-body">
                                    <div class="title-header option-title justify-content-start">
                                        <h5>Media Library</h5>
                                    
                                       
                                    </div>
                                    <div
                                        class="row row-cols-xl-6 row-cols-md-5 row-cols-sm-3 row-cols-2 g-sm-3 g-2 media-library-sec ratio_square">
                                        
                                        <div>
                                            <h4>Advertisment 375x586 :</h4>
                                            <div class="library-box" style="height:150px">
                                                <input type="checkbox" id="myCheckbox{{forloop.counter}}" />
                                                <label for="myCheckbox{{forloop.counter}}" class="p-0">
                                                    <div>
                                                        <img src="../../media/{{banner.advertisment_375x586}}"
                                                            class="img-fluid" style="object-fit:cover;" alt="advertisment_375x586">
                                                    </div>
                                                    <div class="dropdown">
                                                        <a class="" href="#" role="button" id="dropdownMenuLink"
                                                            data-bs-toggle="dropdown" aria-expanded="false">
                                                            <i class="ri-more-fill"></i>
                                                        </a>

                                                        
                                                    </div>
                                                </label>
                                            </div>
                                        </div>

                                        <div>
                                            <h4> Best Seller Banner 1600x978 :</h4>
                                            <div class="library-box" style="height:150px">
                                                <input type="checkbox" id="myCheckbox{{forloop.counter}}" />
                                                <label for="myCheckbox{{forloop.counter}}" class="p-0"> 
                                                    <div>
                                                        <img src="../../media/{{banner.best_seller_banner_1600x978}}"
                                                            class="img-fluid" style="object-fit:cover;" alt="best_seller_banner_1600x978">
                                                    </div>
                                                    <div class="dropdown">
                                                        <a class="" href="#" role="button" id="dropdownMenuLink"
                                                            data-bs-toggle="dropdown" aria-expanded="false">
                                                            <i class="ri-more-fill"></i>
                                                        </a>

                                                        
                                                    </div>
                                                </label>
                                            </div>
                                        </div>


                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Container-fluid Ends-->

                
            </div>
        
            {% endblock content %}
