{% extends 'back-end/template.html' %}
<style>
    td{
        justify-content: start !important;
        display: flex !important;
    }
</style>
            {% block content %}

<!-- Container-fluid starts-->

            <div class="page-body">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="card card-table">
                                <div class="card-body">
                                    <div class="title-header option-title d-sm-flex d-block">
                                        <h5>Products List</h5>
                                        <input type="text" id="searchInput"class="form-control w-50" style="font-size:15px" placeholder="Search by Product Name or Id">

                                        <div class="right-options">
                                            <ul>
                                              
                                                <li>
                                                    <a href="{% url 'export_excel' %}" class="btn btn-primary">Download Excel</a>

                                                </li>
                                                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
                                                    Upload File
                                                  </button>
                                                {% comment %} <a href="{% url 'products_dashboard' %}?action=export">Export</a> {% endcomment %}
                                                <li>
                                                    <a class="btn btn-solid" href="{% url 'addproduct' %}">Add Product</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div>
                                        <div class="table-responsive">
                                            <table class="table all-package theme-table table-product" id="table_id">
                                                <thead>
                                                    <tr>
                                                        <th>Option</th>
                                                        <th>Id</th>
                                                        <th>Product Name</th>

                                                        <th>Category</th>
                                                        <th>Sub Category</th>
                                                        <th>Color</th>
                                                        <th>Price</th>
                                                        <th>Discount Percentage (%)</th>
                                                        <th>Price after Discount </th>

                                                    </tr>
                                                </thead>

                                                <tbody>
                                                    {% for pro in products %}
                                                    <tr>
                                                        <td >
                                                            <ul style="    display: flex;
                                                            justify-content: center;">
                                                                <li style="padding:5%">
                                                                    <a href="{% url 'img_products' pro.id %}"> 
                                                                        <i class="ri-eye-line"></i>
                                                                  </a> 
                                                                </li>

                                                                <li style="padding:5%">
                                                                    <a href="{% url 'addproduct_crud' pro.id %}?slug=update">
                                                                        <i class="ri-pencil-line"></i>
                                                                    </a>
                                                                </li>

                                                                <li style="padding:5%">
                                                                    <a href="{% url 'addproduct_crud' pro.id %}?slug=delete" >
                                                                        <i class="ri-delete-bin-line"></i>
                                                                    </a>
                                                                </li>
                                                            </ul>
                                                        </td>
                                                        

                                                        <td>{{pro.id}}</td>

                                                        <td>{{pro.name}}</td>

                                                        <td>{{pro.category.name}}</td>
                                                        <td>{{pro.subcategory.name}}</td>
                                                        <td>{{pro.color}}</td>
                                                        <td>{{pro.mrp}}</td>
                                                        <td>{{pro.discount_percentage}}</td>
                                                        <td>{{pro.discounted_price}}</td>
                                                        

                                                       
                                                        

                                                        
                                                    </tr>
                                                    {% endfor %}
                                                    
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Container-fluid Ends-->

                
            </div>
            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Upload</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form action="{% url 'upload_file' %}" method="POST" enctype= multipart/form-data>
        {% csrf_token %}
      <div class="modal-body">
            <input type="file" name="file" >
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary">Save changes</button>
        </form>
      </div>
    </div>
  </div>
</div>

<script>
    // JavaScript function to filter table rows by product name, ID, or category
    function filterTable() {
        // Get input value and convert it to lowercase for case-insensitive search
        var input = document.getElementById('searchInput').value.toLowerCase();
        
        // Get the table and table rows
        var table = document.getElementById('table_id');
        var rows = table.getElementsByTagName('tr');

        // Loop through all table rows, starting from index 1 to skip the header row
        for (var i = 1; i < rows.length; i++) {
            var productName = rows[i].getElementsByTagName('td')[1].innerText.toLowerCase();
            var productId = rows[i].getElementsByTagName('td')[0].innerText.toLowerCase();
            var category = rows[i].getElementsByTagName('td')[2].innerText.toLowerCase();

            // Check if the current row's product name, ID, or category contains the input text
            if (productName.includes(input) || productId.includes(input) || category.includes(input)) {
                rows[i].style.display = ''; // Show the row
            } else {
                rows[i].style.display = 'none'; // Hide the row
            }
        }
    }

    // Attach the filterTable function to the input field's 'input' event
    document.getElementById('searchInput').addEventListener('input', filterTable);
</script>



            {% endblock content %}            
 
